@charset "utf-8";
/* CSS Document */

body {font-family: "Open Sans", sans-serif;font-weight: 400; font-size: 16px; color: #000000;}
h1 {font-size: 44px; line-height: 54px; margin-top: 130px;}
h3 {font-size: 30px; line-height: 40px;}
h4 {font-size: 22px; line-height: 30px; margin: 40px 0 10px;}
ul li {padding: 15px 0px 0;}
ul li:last-child {padding-bottom: 20px}
a {color: #C15B66;}
a:hover {color: #AF6665;}

/* head styles */
#head {background: #BAE6FF url(../images/golden-gate.jpeg) center top no-repeat; background-size: cover; min-height: 540px; 
	margin: 0 auto; color: #ffffff; text-align:center;}
/*#head, #head h1, #head h3, .cta-button, .cta-button a {}*/
.cta-button, .btn {background-color: #C15B66; color: #ffffff; padding: 20px 10px; max-width: 250px; margin: 70px auto 30px; 
	text-transform: uppercase; border-radius: 17px;}
.cta-button a {color:#ffffff;text-decoration:none;}

/* blocks common styles */
#aboutme, #guide, #examples, #contactmeForm, #footer {margin: 40px 0; padding: 30px 0; background: #ffffff;}
/* #guide, #contactmeForm {background: #BAE6FF;} */
#footer {background: #BAE6FF; margin-bottom:0;}
#examples {text-align:center;}

/* about me styles */
.portrait {max-width: 300px;}
.contactme {font-size: 14px;}

/* examples styles */
#examples h3 {margin-bottom: 25px;}
.region {text-transform: uppercase; padding: 20px 10px; border-radius: 17px; background-color: #6ECAFF; cursor: pointer;}
.region:hover {text-decoration: underline;}
img.tour-preview {max-width:250px; padding: 10px 0; cursor: pointer;}
.request-trip, .request-trip:hover {text-decoration: underline; margin-top:20px;}
.europe, .asia, .africa {display:none;}
.list, .list p {padding: 20px 0;}
.list p {min-height: 90px;}


/* form block */
/*#contactmeForm {text-align:center;}
form {margin: 30px auto; width: 100%; max-width: 350px;}
.formRow {margin-bottom: 16px; font-size: 14px;}
input, select, textarea {border: 1px solid #5D7380;	padding: 8px 10px; width: 100%; color: #BAE6FF;}
input, select {height: 40px;}
.plan {font-size: 14px; margin-top:10px; display:none;}
.plan span {color: #6ECAFF;}
#ty {display:none;}*/

@media (max-width: 782px) {
	h1 {margin-top: 80px;}
	.region {padding: 20px;}
}
